.places {
  max-width: 984px;
  margin: 0 auto 12px;
}

@media screen and (max-width: 1025px) {
  .places {
    max-width: 928px;
    margin: 0 48px 12px;
  }
}

@media screen and (max-width: 870px) {
  .places {
    max-width: 720px;
    margin: 0 24px 12px;
  }
}

@media screen and (max-width: 440px) {
  .places {
    max-width: 320px;
    margin: 0 auto 12px;
  }
}