.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding-bottom: 26px;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 870px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 440px) {
  .place__paragraph {
    max-width: 288px;
    padding-bottom: 25px;
    margin-left: 16px;
  }
}