.lead__caption {
  max-width: 160px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    margin-left: 16px;
  }
}
